
@{
    ViewBag.Title = "Index";
}
@using Newtonsoft.Json
@model dynamic
<h2>Product Index</h2>
<div class="row">
    <pre id="content">
        @*@JsonConvert.SerializeObject(Model, Formatting.Indented)*@
    </pre>
</div>
<div class="row">
    <h2>Control Panel</h2>
</div>
<div class="row">
    <button class="col-md-3" id="addNewProductBtn" style="margin: 10px">Add new Product</button>
    <button class="col-md-3" id="refreshBtn" style="margin: 10px">Refresh</button>
</div>
@section scripts
{
    <script>
        $( document ).ready(function() {
            console.log("ready!");
            $("#addNewProductBtn").click(function () {
                $.get("/Product/Update",
                    function() {
                        alert("product/Update success");
                    });
            });
            $("#refreshBtn").click(function () {
                $.get("/Product/RefreshIndex",
                    function (response) {
                        $("#content").html(response);
                    });
            });
        });
    </script>
}

